<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1 th:inline="text">Изменить человека:</h1>
        <form th:action="@{'/mycredit/person/' + ${person.id} + '/edit'}" method="post" th:object="${person}">
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text"  class="form-control" id="name"  th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="image" >Вставьте ссылку на картинку:</label>
                <input type="text" class="form-control" id="image" th:field="*{image}">
            </div>
            <div class="custom-file">
                <label for="file" class="custom-file-label" >Или загрузите картинку:</label>
                <input type="file" class="custom-file-input"  id="file" lang="ru" accept="image/*" name="file" >
            </div>

            <input type="submit" class="btn btn-primary" value="Изменить человека">
        </form>
</div>
</body>
</html>