<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1 th:inline="text">Добавьте новый кредит:</h1>
        <form th:action="@{'/mycredit/person/' + ${person.id} + '/credit/add'}" method="post" th:object="${credit}">
            <div class="form-group">
                <label>Банк</label>
                <input type="text" th:field="*{bank}">
            </div>
            <div class="form-group">
                <label>Название</label>
                <input type="text" th:field="*{title}">
            </div>
            <div class="form-group">
                <label>Дата начала</label>
                <input type="date" th:field="*{{dateStart}}">
            </div>
            <div class="form-group">
                <label>Дата окончания</label>
                <input type="date" th:field="*{{dateEnd}}">
            </div>
            <div class="form-group">
                <label>Сумма</label>
                <input type="text" th:field="*{cost}">
            </div>
            <div class="form-group">
                <label>Ежемесячный платеж</label>
                <input type="text" th:field="*{monthPay}">
            </div>
            <input type="submit" value="Добавить кредит">
        </form>
</div>
</body>
</html>