<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <h1 th:inline="text">Регистрация:</h1>
        <form th:action="@{'/mycredit/user/add'}" method="post" th:object="${user}">
            <div class="form-group">
                <label>Имя пользователя</label>
                <input  type="text" class="form-control input-lg" th:field="*{username}">
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" class="form-control input-lg" th:field="*{password}">
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Добавить пользователя">
        </form>
    </div>
</div>
</body>
</html>