<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="">
    <h1 th:inline="text">Добро пожаловать, <span th:text="${person.name}"></span>!</h1>
         <img th:src=${person.image} height="140" width="140" align="right">
        <h3 th:inline="text"> Общая сумма:  <span th:text="${sumCost}"></span></h3>
        <h3 th:inline="text"> Сумма в месяц:  <span th:text="${sumMonthPay}"></span></h3>
    <a th:href="@{'/mycredit/person/' + ${person.id} + '/credit/add'}"><img th:src=@{/img/add_2.png} height=100, weight=100 align="left"></a></div>
        <div class="table-responsive">
        <table id="personTable" class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Банк</th>
                <th>Название</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Сумма</th>
                <th>Ежемесячный платеж</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="credit, rowStat: ${person.credits}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                <td th:text="${rowStat.count}"></td>
                <td th:text="${credit.bank}"></td>
                <td th:text="${credit.title}"></td>
                <td th:text="${credit.dateStart}"></td>
                <td th:text="${credit.dateEnd}"></td>
                <td th:text="${credit.cost}"></td>
                <td th:text="${credit.monthPay}"></td>
                <td><a th:href="@{'/mycredit/person/' + ${person.id} + '/credit/' + ${credit.id} + '/edit'}"><img th:src=@{/img/editCredit.png} height=42, weight=42></a></td>
                <td><a th:href="@{'/mycredit/person/' + ${person.id} + '/credit/' + ${credit.id} + '/delete'}"><img th:src=@{/img/delete.png} height=42, weight=42></a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>