<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person List</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1>Person Table</h1>
    <a th:href="@{'/mycredit/person/add'}"><img th:src=@{/img/add_2.png} height=42, weight=42></a>
    <div class="row col-md-7 table-responsive">
        <table id="personTable" class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фото</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person, rowStat: ${persons}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                <td th:text="${rowStat.count}"></td>
                <td th:text="${person.name}"></td>
                <td><a th:href="@{'/mycredit/person/' + ${person.id}}"><img th:src=${person.image} height=42, weight=42></a></td>
                <td><a th:href="@{'/mycredit/person/' + ${person.id} +'/edit'}"><img th:src=@{/img/editPerson.png} height=42, weight=42></a></td>
                <td><a th:href="@{'/mycredit/person/' + ${person.id} + '/delete'}"><img th:src=@{/img/delete.png} height=42, weight=42></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>